@{
    ViewBag.Title = "Index";
}

<style>
    .body-content {
        width: 100% !important;
    }

    .row {
        margin-left: -5px !important;
        margin-right: -5px !important;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15 {
        float: left;
    }

    .col-1 {
        width: 6.666666667%;
    }

    .col-2 {
        width: 13.33333333%;
    }

    .col-3 {
        width: 20%;
    }

    .col-4 {
        width: 26.66666667%;
    }

    .col-5 {
        width: 33.33333333%;
    }

    .col-6 {
        width: 40%;
    }

    .col-7 {
        width: 46.66666667%;
    }

    .col-8 {
        width: 53.33333333%;
    }

    .col-9 {
        width: 60%;
    }

    .col-10 {
        width: 66.66666667%;
    }

    .col-11 {
        width: 73.33333333%;
    }

    .col-12 {
        width: 80%;
    }

    .col-13 {
        width: 86.66666667%;
    }

    .col-14 {
        width: 93.33333333%;
    }

    .col-15 {
        width: 100%;
    }

    .col-offset-1 {
        margin-left: 6.666666667%;
    }

    .col-offset-2 {
        margin-left: 13.33333333%;
    }

    .col-offset-3 {
        margin-left: 20%;
    }

    .col-offset-4 {
        margin-left: 26.66666667%;
    }

    .col-offset-5 {
        margin-left: 33.33333333%;
    }

    .col-offset-6 {
        margin-left: 40%;
    }

    .col-offset-7 {
        margin-left: 46.66666667%;
    }

    .col-offset-8 {
        margin-left: 53.33333333%;
    }

    .col-offset-9 {
        margin-left: 60%;
    }

    .col-offset-10 {
        margin-left: 66.66666667%;
    }

    .col-offset-11 {
        margin-left: 73.33333333%;
    }

    .col-offset-12 {
        margin-left: 80%;
    }

    .col-offset-13 {
        margin-left: 86.66666667%;
    }

    .col-offset-14 {
        margin-left: 93.33333333%;
    }

    .col-offset-15 {
        margin-left: 100%;
    }
</style>

<div class="row">
    <h2 style="display:inline">Thống kê</h2>
    @Html.DropDownList("GiangVien", "Chọn giảng viên...")
</div>
<hr />
<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th rowspan="2">Giảng viên</th>
            @for (int i = 2; i <= 7; i++)
            {
                <th colspan="15" style="text-align:center">Thứ @i</th>
            }
        </tr>
        <tr>
            @for (int i = 0; i < 6; i++)
            {
                for (int j = 1; j <= 15; j++)
                {
                    <th style="font-family:monospace">
                        @switch (j)
                        {
                            case 10:
                                @('J')
                                break;
                            case 11:
                                @('Q')
                                break;
                            case 12:
                                @('K')
                                break;
                            case 13:
                                @('D')
                                break;
                            case 14:
                                @('U')
                                break;
                            case 15:
                                @('Y')
                                break;
                            default:
                                @j
                                break;
                        }
                    </th>
                }
            }
        </tr>
    </thead>
    <tbody id="tkb">
        <tr v-for="gv in GiangVien">
            <td>
                <a href="#" :id="gv.MaGV" onclick="remove(this)">{{ gv.HoVaTen }}</a>
            </td>
            @for (int i = 0; i < 6; i++)
            {
                <td colspan="15">
                    <div class="row">
                        <div :class="'col-offset-'+hp.Offset+' col-'+hp.Length" v-for="hp in gv.ThoiKhoaBieu[@i]" style="border-style:groove;padding-left:0">
                            <abbr :title="hp.NhomTo+' - '+hp.TenHocPhan">{{ hp.VietTat }}</abbr>
                        </div>
                    </div>
                </td>
            }
        </tr>
    </tbody>
</table>

@section Scripts {
    <script src="~/Scripts/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#tkb',
            data: {
                GiangVien: []
            }
        });
        const distinct = (value, index, self) => {
            return self.indexOf(value) === index;
        };
        var GiangVien = [];
        if (localStorage.getItem('GiangVien') != null)
            GiangVien = JSON.parse(localStorage.getItem('GiangVien'));
        $(function () {
            $('#GiangVien').select2().change(function () {
                if ($(this).val().length > 0) {
                    GiangVien.push($(this).val());
                    GiangVien = GiangVien.filter(distinct);
                }
                $.getJSON(`@Url.Action("GetGiangVienHocPhan")?maGVs=${GiangVien.join()}`, function (json) {
                    app.GiangVien = json;
                });
                localStorage.setItem('GiangVien', JSON.stringify(GiangVien));
            }).trigger('change');
        });
        function remove(elem) {
            GiangVien.splice(GiangVien.indexOf(elem.id), 1);
            localStorage.setItem('GiangVien', JSON.stringify(GiangVien));
            location.reload();
        }
    </script>
}