@model WebApplication.Models.TkbDanhSach

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TkbDanhSach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenGoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenGoi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
