@model IEnumerable<TkbDanhSach>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách</h2>

<p>
    <a href="javascript:void($('#UploadFile').click())">Upload New</a>
    @using (Html.BeginForm("Create", "TkbDanhSach", FormMethod.Post, new { enctype = "multipart/form-data", id = "UploadForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.TextBox("UploadFile", null, new { type = "file", style = "display:none" })
    }
    <a href="@Url.Content("~/App_Data/KCT_TKB_HK192.xlsx")" style="float:right">Template</a>
</p>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            Ngày tạo
        </th>
        <th>
            Tên gọi
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.ActionLink(item.TenGoi, "Details", new { id = item.id })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>

@section Scripts {
    <script>
        $('#UploadFile').change(function () {
            if ($(this).val().length > 1) {
                $('#UploadForm').submit();
                $('html').fadeTo('slow', 0);
            }
        });
    </script>
}